<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Data</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Chats</h2>
    <form action="/chats/new" method="get"><button>new chats</button></form>
    <br>
   <% for (let chat of chats) {%>
     <div class="chat">
        <div class="from"><p>From : <%=chat.from%></p></div>
        <div class="msg"><p>message : <%= chat.message %></p>
        <form action="/chats/<%= chat._id%>/edit" method="get"><button>edit</button></form>
        <form action="/chats/<%= chat._id%>?_method=DELETE" method="post"><button>Delete</button></form>
        </div>
        <div class="receive"><p>Receipent : <%= chat.to %></p></div>
        <hr>
        <div><p>Time: <%= chat.createdAt.toString().split(" ")[4] %></p></div>
        <div><p>Date : <%= chat.createdAt.toString().split(" ").slice(0,4).join("-") %></p></div>
        <br>
       
    </div>

   <%}%>
   
    
  
</body>
</html>